/.env
/.env.local
/.env.prod
/deploy/.env.production
/vendor/
/node_modules/
/storage/*
!/storage/.gitkeep
!/storage/logs
/storage/logs/*
!/storage/logs/.gitkeep
*.log
*.sqlite
*.sqlite3
.DS_Store
.idea/
.vscode/
.claude/
/.phpunit.cache/
